<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="#">

        <!-- Bootstrap CSS CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!-- Include the Leaflet CSS file -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
        integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
        crossorigin=""/>
        
        <!-- Import the Leaflet JS file AFTER the Leaflet CSS file -->
        <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
        integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
        crossorigin=""></script>   

        <!-- Import Plotly -->
        <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
        
        <!-- charts.js cdn -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <!-- Local CSS -->
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>World Hunger and Climate Change</title>
        
    </head>
    <body>
        <div class="container">
            <div class="mt-4 p-5 bg-light rounded">
                <h1>World Hunger and Climate Change</h1>
                <p>Project description goes here</p>
            </div>
        </div>
        <div class="row pt-5 px-5">
            <div class="col-md-8 bg-light">
                <div class = "well" >
                    <h5> Select the country from dropdown </h5>
                   <select id="country" onchange="countryChanged(this.value)"></select>
                <!-- Country Food avail. vs World temps: Plotly line chart + select country drop down -->
                </div>
                <div id="trend-line"></div>
            </div>
            <div class="col-md-4 bg-light">
                <select id="pieYear" onchange="pieYearChanged(this.value)"></select>
                <!-- Types of food avail. by country: Plotly pie chart + select country drop down -->
                <div>
                    <canvas id="pie-chart"></canvas>
                </div>
                <!-- <div id="types-pie"></div> -->
            </div>
        </div>
        <div class="row pt-5 px-5">
            <div class="col-md-9 bg-light">
                <select id="choroplethYear" onchange="choroplethYearChanged(this.value)"></select>
                <!-- Country food avail. 'health': Leaflet + choropleth - world map. Choropleth uses 'health' score which is computed using food and feed avail. -->
                <div id="country-choro"></div>

            </div>
            <div class="col-md-3 bg-light">
                <!-- Top producing conties: Ploty bar chart -->
                <div id="top-bar"></div>

            </div>
        </div>

        <!-- Import js scripts here **Make sure to order by usage** -->
        <!-- bootsratp script -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <!-- d3 script -->
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="../static/js/bar_chart.js"></script>
        <script src="../static/js/choropleth.js"></script>
        <script src="../static/js/views.js"></script>
        <script src="../static/js/charts.js"></script>
    </body>
</html>

